body {
    margin: 0;
}

.svg_outer {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    page-break-after: always;
}
.svg_inner {
    display: block;
    text-align: center;
}